body {
  font-family: sans-serif;
  text-align: center;
  line-height: 2;
}

.app {
  text-align: center;
  display: grid;
  grid-template-columns: 15% 15% 40% 15% 15%;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
